@font-face {
    font-family:"Inter" ;
    src: url(./fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
    font-style: italic;
    font-weight: 200;
}
.wraper{
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
}
body{
    font-family: Inter;
}