:root{
    --btnColor: #E94339;
    --txtColor: rgb(20, 20, 20);
    --txtBtnColor: #FFFFFF;
    --formbg: #F4F4F4;
    --formcolortext:#AFAFAF; 
    --dopbg:#FAFAFA;
    --instruction:#2E2C49;
    --small-text:#616161;
    --slider: #E2E2E2 ;
    --bgsub: #FFEFEC;
    --footer:#000000;
    --foterTxt: #aaa7b1;
}
@font-face {
    font-family:"Inter" ;
    src: url(./fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family:"Inter" ;
    src: url(./fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format('truetype');
    font-style: italic;
    font-weight: 200;
}
.wraper{
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
}
body{
    font-family: Inter;
}
.header-delivery{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
}
.header-delivery__logo{
    width: 42px;
    height: 42px;
}
.header-delivery__list{
    display: flex;
    gap: 45px;
}
.header-delivery__href{
    text-decoration: none;
    color: var(--txtColor);
}
.button{
    border: none;
    background-color: var(--btnColor);
    color: var(--txtBtnColor);
    border-radius: 20px;
    font-family: Inter;
    padding: 14px 27px;
}
.header-delivery__log-btn{
    background-color: transparent;
    border: none;
     font-family: Inter;
}
.order{
    margin-top: 103px;
}
.order__functional{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    height: 478px;
}
.order__text-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order__bigText{
    font-size: 3em;
    color: var(--txtColor);
    max-width: 100%;
   margin-bottom:16px ;
}
.order__text{
    max-width: 85%;
     font-size: 1.3em;
    color: var(--txtColor);
}
.ordering-input{
    position: relative;
    width: 75%;
    height: 45px; 
}
.order__form-ordering{   
    margin: 42px 0px;
}
.order-input{
    background-color: var(--formbg);
    color: var(--formcolortext);
    border-radius: 40px;
    border: none;
    position: absolute;
    width: 95%;
    padding: 24px;
    font-size: 0.8em;
}
.order__input::placeholder{
    color: var(--formcolortext);
}
.order-button{
    width: 134px;
    position: absolute;
    top: 10%;
    right: 0;
    width: 28%;
    height: 52px;
    font-size: 0.8em;
    padding: 10px;
}
.order__wraper{
    width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
}

.order__app-text{
grid-column: 2;
align-self: self-end;
font-size: 0.6em;
}
.order__big-text{
grid-column: 2;
font-size: 1.2em;
}
.order_logo{
    width: 100%;
    height: 478px;
}
.order-list__text-wrap{
    margin-top: 200px;
    max-width: 55vw;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-list__title{
    font-size: 2.5em;
    max-width: 600px;
    text-align: center;
    margin-bottom: 17px;
}
.order-list__sub-title{
    font-size: 0.8em;
}
.order-list-wraper{
    margin-top: 48px;
}
.order-list__picture-wrap{
display: flex;
gap: 32px;
 justify-content: center;
    flex-wrap: wrap;
}
.order-list__logo-wraper{
    width: 168px;
    height: 200px;
    background-color: var(--dopbg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:39px;
}
.order-list__logo{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--txtBtnColor);
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
     flex-wrap: wrap;
    justify-content: center;
    
}
.order-list__picture-wrap--logo{
    display: flex;
    align-items: flex-end;
    background-color: var(--dopbg);
    border-radius: 10px;
}
.order-list__picture{
    width: 192px;
    height: 116px;
}
.order-list__picture-text{
    font-size: 1.5rem;
    align-self: flex-start;
    max-width: 473px;
}
.order-list__text-wrap-deliver{
    display: flex;
    position: relative;
    flex-direction: row;
     flex-wrap: wrap;
    justify-content: center;
    width: 85vw;
    margin-top: 40px;
}
.order-list__discrib-text{
   width: 35vw;
   
}
.order-list__text-deliver--wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:32px ;
}
.order-list__sub-quotation{
    position: absolute;
    font-size: 6rem;
    top: -40%;
    left: 0%;
    font-family:space;
}
.wrap-quotation{
    height: 100px;
    position: relative;
        align-self: flex-end;
}
.aplication-wrap{
  width: 186px;
    height: 65px;
    background-color: var(--formbg);
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
}
.aplication-logo{
    grid-column: 1;
    grid-row: 1/3;
    width: 32px;
    height: 33px;
    align-self: center;
    justify-self: center;
}
.aplication-text{
grid-column: 2;
align-self: self-end;
font-size: 0.6em;
}
.aplication-big-txet{
    grid-column: 2;
font-size: 1.2em;
}
.instruction{
    margin-top: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 59px;
}
.instruction__text--big{
    font-size: 3rem;
    color: var(--instruction);
}
.instruction__block{
display: flex;
gap: 5vw;
flex-wrap: wrap;
justify-content: center;
}
.instruction__block-wraper{
    position: relative;
    width: 214px;
    height: 270px;
    background-color: var(--dopbg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* z-index: 1; */
}
.instruction__block-number{
    position: absolute;
    top: -13%;
    font-size: 3rem;
    z-index: -1;
    left: -10%;
    color: var(--btnColor);
}
.instruction__block-logo{
    font-size: 3rem;
    text-align: center;
}
.instruction__block-text{
    max-width: 168px;
    margin-top: 24px;
     text-align: center;
     font-weight: bold;
}
.slider__wrap{
    width: 45vw;
    margin-top:195px ;
    margin-left: auto;
    margin-right: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.slider__text-block{
    width: 40vw;
    display: flex;
flex-direction: column;
align-items: center;
gap: 18px;
}
.slider__text--big{
    width: 35vw;
    font-size: 2.5rem;
    text-align: center;
}
.slider__text{
    font-size: 1rem;
    width: 32vw;
    text-align: center;
    line-height: 30px;
}
.slider{
    width: 44vw;
    display: flex;
    flex-direction: column;
        align-items: center;
}
.slider__qoute{
    width: auto;
    font-size: 8rem;
    color: var(--btnColor);
    text-align: center;
    font-family: inter;
    height: 120px; 
    padding-top: 60px;
}
.slider__coment{
    width: 32vw;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
   
}
.slider__name{
    font-weight: 800;
    font-size: 0.8em;
    width: 13%;
    text-align: center;
    margin-top:42px ;
}

.slider__sub-name{
    font-size: 0.6em;
    width: 14%;
    color: var(--small-text);
    text-align: center;
}
.slider__lable{
    margin-top: 25px;
    width: 110px;
    height: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.slider-btn{
    background-color: var(--slider);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 2rem;
    text-align: center;
}
.slider button {
  visibility: hidden;
}

.subscribe__wrap{
    margin-top: 167px;
    width: 100%;
    height: 302px;
    background-color: var(--bgsub);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.subscribe__input{
    position: relative;
    width: 570px;
    height: 45px;
}
.subscribe__text-big{
    font-size: 2.8rem;
    margin-bottom:12px;
    
}
.subscribe__text-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 725px;
    height: 96px;
}
footer{
    width: 100%;
    height:728px;
    background-color:var(--footer);
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 160px;
}
.footer__text-wrap{
    width: 90%;
    display: flex;
     justify-content: space-around;
    flex-wrap: wrap;
}
.footer__logo-app{
    width: 35%;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   gap: 20px;
}
.footer__logo{
font-size: 3rem;
}
.footer__text-box{
    width: 115px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}
.footer__big-text{
    color: var(--txtBtnColor);
    
}
.footer__text{
    text-decoration: none;
color: var(--foterTxt);
font-size: 0.8rem;
}
.footer__politicy-wrap{
    width: 90%;
    display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}
.footer__date{
    width:230px;;
    color: var(--small-text);
}
.footer__politicy-text--wraper{
    width:370px;
    display: flex;
    justify-content: space-around;
}
.footer__politicy-text{
    text-decoration: none;
    color: var(--small-text);
}
@media only screen and (max-width:1300px) {
        .order__wraper{
           width: 85%;
            grid-template-columns: 100%;
            justify-items: center;
    }
    .order__bigText{
        font-size:2em;
    }
    .order__text{
        font-size: 0.8em;
    }
    .media-input{
    width: 85% !important;
}
.media-button{
    right: 10%!important;
}
.footer__text-wrap{
        justify-content: space-evenly;
        align-items: flex-end;
        width: 100%;
}
.footer__text-box{
    align-items: center;
}
.footer__text-box:last-of-type{
    height: 190px;
}
}
@media only screen and (max-width:800px) {
        .order_logo{
    grid-row: 1;
    height: 350px;
}
.order__functional{
    grid-template-columns: 90%;
    grid-template-rows: 380px 580px;
    justify-content: center;
    gap: 0;
}
.order__text-action{
        align-items: center;
}
    .instruction__text--big {
    font-size: 2.5rem;
}
.instruction__block {gap: 59px;}
 .slider__wrap{width: 90%;}
    .slider{width: 85%;}
    .slider__text-block{width:85%;}
    .slider__text--big{width: 95%;}
    .slider__text{width: 90%;}
    .slider__coment {width: 90%;}
    .slider__name { width: 40%;}
    .slider__sub-name {width: 24%;}
.subscribe__text-wrap {
    width: 90%;
    align-items: center;
}
.subscribe__input {
    width: 90%;
}

.subscribe__wrap{
    align-content: center;
}
.footer__logo-app{
    width: 90%;
    align-items: center;
    gap: 0;
}
.footer__text-wrap{
    gap: 20px;
}
footer{
    padding: 100px 0;
}
.order-list__text-wrap{ margin-top: 500px;}
.order-list__text-wrap-deliver{ gap: 50px;}
}
@media only screen and (max-width: 570px) {
    .header-delivery{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .order-button{
    right: -10%;
}
.order__text{max-width: 80%;}
.order__bigText{max-width: 80%;}
.order-button{
    right: -10%;
}
.order__text{max-width: 80%;}
.order__bigText{max-width: 80%;}
}